.calendr-week {
    width: 100%;
    display: table;
}

.week-days {
    display: table-row;
    width: 12%;
}

.week-day {
    display: table-cell;
    border: black solid 1px;
}

.week-grid {
    display: table-row-group;
}