.calendr-week-wrapper {
    width: 75%;
    margin-top: 15px;
    float: left;
}

    .calendr-week-wrapper .calendr-week-table {
        margin-top: 10px;
        table-layout: fixed;
        border-bottom: 1px solid #ddd;
    }

    .calendr-week-wrapper .calendr-week-table tr:not(.title-row) {
        border-right: 1px solid #ddd;
    }

.calendr-week-header {
    text-align: center;
}

    .calendr-week-header > div {
        display: inline-block;
    }

    .calendr-week-header .next-arrow {
        float: right;
    }

    .calendr-week-header .prev-arrow {
        float: left;
    }

.r-next {
    float: right;
}

.r-prev {
    float: left;
}

.hours-grid {
    position: relative; 
}

    .hours-grid .hour-separator {
        position: absolute;
        width: 100%;
    }

        .hours-grid .hour-separator .hour-cell {
            height: 42px;
        }

        .hours-grid .hour-separator .hour-cell .hour-cell-split {
            height: 20px;
            margin-bottom: 20px;
            border-bottom: 1px dotted #ddd;
            border-top: 1px solid #ddd;
        }

.day-col {
    vertical-align: top;
    border-left: 1px solid #ddd;
    width: 13.57%;
}

    .day-col .day-col-events {
        height: 1008px;
        position: relative;
    }

.day-title {
    text-align: center;
    border-top: 1px solid #ddd;
}

.hour-col {
    text-align: right;
    border-left: 1px solid #ddd;
    width: 5%;
}

    .hour-col .hour-cell {
        height: 42px;
        border-top: 1px solid #ddd;
    }

.time-buffer-col {
    width: 60px;
}

.event-block {
    position: absolute;
    background-color: #3B5998;
    opacity: 0.5;
    width: 90%;
}
    
    .event-block .event-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: inherit;
    }