.shifts-col:not(:last-child) {
    border-right: solid 1px #d3d3d3;
}

.myClass {
    height: 1000px;
    width: 1000px;
    top: 0px;
    bottom: 0px;
}

.shift-center .event-card {
    height: 16em;
}

.shift-center .event-card .btn {
    margin-top: 10px;
}