{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plannr</title>
        <script src="{% static 'jquery-3.2.0.min.js' %}"></script>
        <link href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/main.css' %}" rel="stylesheet">
        <link href="{% static '/node_modules/react-select/dist/react-select.css' %}" rel="stylesheet">
        <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{% static '/public/logout.js' %}"></script>
    <script src="{% static '/public/index.js' %}"></script>
</html>
