{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Plannr</title>
        <script src="{% static 'jquery-3.2.0.min.js' %}"></script>
        <link href="{% static '/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/main.css' %}" rel="stylesheet">
        <script src="{% static '/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Plannr</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="month">Month</a></li>
                <li><a href="week">Week</a></li>
                <li><a href="#contact">Day</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Shift Center</a>
                </li>
                <li>
                    <a href="#">Notifications</a>
                </li>
                <li>
                    <a href="#">Employees</a>
                </li>
                <li>
                    <a href="/position/">Position</a>
                </li>
                <li>
                    <a href="/profile/">Profile</a>
                </li>
                <li>
                    <a href="#">System Settings</a>
                </li>
            </ul>
            <div class="sidebar-logout" id="logout-option">
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{% static '/public/profil.js' %}"></script>
    <script src="{% static '/public/logout.js' %}"></script>
    <script src="{% static '/public/index.js' %}"></script>
</html>